@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;600&display=swap');

:root {
  --black: #0e0c0b;
  --grey: #999;
  --red: #ff0000;
  --green: #8bec55;
  --dark-green: #4eac1c;
  --yellow: #ff9c00;
  --blue: #00a2ff;
  --magenta: #ff00ce;
  --cyan: #0bf8ee;
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#lasers {
  background-image: url("bg_eb.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1005;
  image-rendering: pixelated;
}

.mikubox {
  display: flex;
  justify-content: center;
}

.mikubox img {
  height: 15vw;
  object-fit: cover;
  margin: 0 -2vw;
}

main {
  max-width: min(60em, 95vw);
  margin: auto;
}

#currentTrackDisplay {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

#audioPlayer {
  width: 100%;
  display: block;
  border-radius: 0;
  background-color: #000;
}

#ratingControls div {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 20px 0 10px;
}

#ratingControls span {
  min-width: 60px;
  text-align: center;
  font-weight: bold;
}

#ratingControls button {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.del-btn {
  border: 3px dashed #700;
  background-color: #e20e53;;
  color: #fff;
  padding-top: 6px;
}

.down-btn {
  border: 3px dashed #930a0a;
  background-color: #ff0060;;
  color: #fff;
  padding-bottom: 10px;
}

.up-btn {
  border: 4px outset #0093ff;
  background-color: #20fa61;
  color: #1699e8;
  padding-bottom: 10px;
}

#trackList {
  background-color: var(--black);
  padding: 20px 20px;
}

.track{
  padding: 10px 0;
  transition: padding 0.35s ease-in;
}

.track:hover {
  padding-left: 40px;
  transition: padding 0.15s ease-out;
}

.track p {
  margin: 0;
}

.track .albumTitle {
  font-size: 0.8em;
}

.currently-playing {
  font-weight: bold;
  background-color: #fff1;
  padding-left: 40px;
  transition: padding 0.15s ease-out;
  border: 1px solid magenta;
}

